doctype html
html
  head
    title Node/Angular Todo App
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
  body(ng-app="todoApp")
    block content
    include scripts