<div class="page page-dashboard" data-ng-controller="DashboardCtrl">
    <!-- Stats -->
    <div class="row">
        <div class="col-lg-4 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-info">
                    <i class="fa fa-music"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">36 <span class="size-h4"></span></p>
                    <p class="text-muted"><span>Radios</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-info">
                    <i class="fa fa-users"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">8,120 <span class="size-h4"></span></p>
                    <p class="text-muted"><span>Ouvintes</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-success">
                    <i class="fa fa-headphones"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">12 </p>
                    <p class="text-muted"><span>Ouvintes online</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end stats -->
</div>
  