        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-home"></i><span>Início</span></a></li>
        <li><a href="#/clientes"> <i class="fa fa-book"></i><span>Clientes</span> </a></li>
        <li><a href="#/radios"> <i class="fa fa-music"></i><span>Radios</span></a></li>
        <li><a href="#/ouvintes"> <i class="fa fa-user"></i><span>Ouvinte</span></a></li>
        <li>
            <a href="#/sistema"><i class="fa fa-magic"></i><span>Sistema</span></a>
            <ul>
                <li><a href="#/sistema/usuarios"><i class="fa fa-angle-right"></i><span>Usuários</span></a></li>
                <li><a href="#/sistema/meus-dados"><i class="fa fa-angle-right"></i><span>Meus Dados</span></a></li>
            </ul>
        </li>
    </ul>
</div>