doctype html
html(ng-app="app")
    head
        title Sales App
        link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='/vendor/bootstrap/dist/css/bootstrap-theme.min.css', rel='stylesheet')
        link(href='/vendor/bootstrap/dist/css/bootstrap.css.map', rel='stylesheet')
        link(href='/vendor/bootstrap/dist/css/bootstrap-theme.css.map', rel='stylesheet')
    body
        div.navbar.navbar-default(role='navigation', style='margin-top: 20px')
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle(data-toggle='collapse', data-target='#bs-example-navrbar-collapse-1')
                        span.sr-only Toggle Navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') Sales
                div.collapse.navbar-collapse#bs-example-navrbar-collapse-1
                    ul.nav.navbar-nav
                        li.active
                            a(href='#/') Home
                        li
                            a(href='#/clientes') Clientes
                        li
                            a(href='#/funcionarios') Funcionários
                        li
                            a(href='#/transportadoras') Transportadoras
        form.navbar-form.pull-right
            img.pull-right(src='images/ajax-loader.gif', ng-show='showLoaderFlag')
        block content
        include ./includes/scripts
